.a-contact {
    margin: 0.5rem 0;
    p {
        margin: 0;
    }
    &__link {
        background-color: $lightshadow;
        padding:0.5rem;
        margin: 1rem 0;
        display: block;
        text-decoration: none;
        color: $pink;
    }
}