.a-livesTable {
    @include reset-list();
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    &__day {
        box-shadow: 0 0 4.3px $shadow;
        background-color: $light;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__date {
        padding: 0;
        margin: 0;
        text-align: center;
        &.-day {
            margin-bottom: 3rem;
            font-weight: 600;
        }
    }
}