.a-postCard {
    width: 100%;
    position: relative;
    box-shadow: 0 0 4.3px $shadow;
    width: 16.875rem;
    overflow: hidden;
    @extend %transition;
    &__header {
        overflow: hidden;
    }
    &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        @extend %transition;
    }
    &__main {
        background-color: $light;
        padding: 1.28125rem 1.675rem;
    }
    &__title {
        font-size: 1.25rem;
        text-align: center;
        margin: 0;
        padding: 0;
        font-weight: 200;
        letter-spacing: 1px;
        font-family: 'Crushed', cursive;
      }
    &__excerpt {
        display: none;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.25;
    }
    &__date {
        color: $orange;
        font-size: 0.875rem;
        font-weight: 600;
    }
    &__category {
        color: $blue;
        text-transform: uppercase;
    }
    &__categoryLink {
        @extend %reset_link;
        font-size: 0.875rem;
    }
    &__meta {
        @include reset-list();
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 0.875rem;
        padding: 0.2rem 3.05625rem;
        align-items: baseline
    }
    &__footer {
        display: none;
        border-top: 1px solid $lightshadow;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $light;
    }
    &__link {
        color: $dark;
        text-decoration: none;
        &:hover {
          .a-postCard__image {
            transform: scale(1.05);
            background-position: 25% 25%;
          }
        }
      }
    &:hover {
        box-shadow: 0 0 2px $grey;
    }
    &.-large {
        height: 16.375rem;
        .a-postCard__header {
            height: 9.6875rem;
        }
    }
    &.-small {
        height: 5.625rem;
        .a-postCard__header {
            position: absolute;
            right: 0;
            width: 5.625rem;
            top: 0;
            bottom: 0;
        }
        .a-postCard__main {
            width: 7.9rem;
            text-align: left;
        }
        .a-postCard__title {
            font-size: 1rem;
            text-align: left;
        }
        &.-alt {
            .a-postCard__header {
                position: absolute;
                left: 0;
                width: 5.625rem;
                top: 0;
                bottom: 0;
            }
            .a-postCard__main {
                margin-left: 5.625rem;
            }
        }
    }
    &.-future {
        width: 16.875rem;
        height: 7.625rem;
        .a-postCard__header {
            height: 5.625rem;
            width: 5.625rem;
        }
        .a-postCard__main {
            width: 8.875rem;
            padding: 0.8rem 1.2rem;
        }
        .a-postCard__title {
            font-size: 1.125rem;
            line-height: 1;
        }
        .a-postCard__footer {
            display: block;
            text-align: center;
            font-weight: 600;
            color: $orange;
            padding: 0.5rem;
            font-size: 1rem;
        }
    }
    @media screen and (min-width: nth($width, 2)) {
        width: 30rem;
        &__main {
            padding: 3rem 3.05625rem;
        }
        &__title {
            font-size: 1.5rem;
            line-height: 1.2;
            margin-bottom: 2.20625rem;
        }
        &__excerpt {
            display: block;
        }
        &__footer {
            display: block;
        }
        &.-large {
            height: 37.5rem;
            .a-postCard__header {
                height: 18.125rem;
            }
        }
        &.-small {
            height: 11rem;
            .a-postCard__title {
                margin-bottom: 0.8rem;
            }
            .a-postCard__excerpt {
                font-size: 0.8rem;
                line-height: 1.1;
                margin: 0;
            }
            .a-postCard__header {
                width: 8.5rem;
                height: 8.5rem;
            }
            .a-postCard__main {
                width: 21.5rem;
                padding: 0.8rem 1.2rem;
            }
            &.-alt {
                .a-postCard__header {
                    width: 8.5rem;
                }
                .a-postCard__main {
                    margin-left: 8.5rem;
                }
            }
        }
        &.-future {
            width: 16.875rem;
            height: 7.425rem;
            margin: 0;
            .a-postCard__header {
                height: 5rem;
                width: 5rem;
            }
            .a-postCard__main {
                width: 11.875rem;
                height: 5rem;
                padding: 0.8rem 1.2rem;
                display: flex;
                align-items: center;
            }
            .a-postCard__title {
                font-size: 1rem;
                line-height: 1;
                margin: 0;
            }
            .a-postCard__footer {
                display: block;
                text-align: center;
                font-weight: 600;
                color: $orange;
                padding: 0.5rem;
                font-size: 1rem;
            }
        }
    }
}