.a-profileCard {
    @include reset-list();
    margin: 2rem 4rem;
    position: relative;
    p {
        margin: 0;
    }
    &__header {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
        z-index: 2;
    }
    &__img {
        width: 100%;
    }
    &__main {
        width: 16.875rem;
        padding: 1rem 1.4375rem 1rem 6.6625rem;
        box-shadow: 0 0 4.3px $shadow;
        z-index: 1;
        background-color: $light;
        position: relative;
    }
    &__name {
        font-family: 'Crushed', serif;
    }
    &__job {
        color: $pink;
        font-weight: 600;
        font-size: 0.8rem;
        margin: 0.5rem 0 1rem;
    }
    &__url {
        a {
            font-size: 0.9rem;
            font-weight: 200;
            text-decoration: underline;
        }
    }
    &__footer {
        box-shadow: 0 0 4.3px $shadow;
        width: 15rem;
        padding: 1.5rem 0.5rem 0.5rem;
        position: absolute;
        left: 50%;
        top: 5rem;
        transform: translateX(-50%);
        z-index: 0;
        background-color: $light;
    }
    &__link {
        @extend %reset_link;
    }
}