.a-socialsTable {
    @include reset-list();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 0;
    margin: 2rem 0;
    &__socialElement {
        position: relative;
    }
    &__socialLink {
        display: block;
        width: 100%;
    }
    &__socialImage {
        width: 100%;
    }
}