.nf-form-cont {
    padding: 1rem 3rem;
    background-color: $lblue;
}

.ninja-forms-field {
    padding: 0.75rem;
    border-style: solid;
    border-color: $grey;
    border-width: 1px;
    font-size: 1.5rem;
}

.nf-error-msg {
    font-weight: 600;
}

.ninja-forms-req-symbol {
    font-weight: 600;
}

.nf-before-form-content {
    margin-bottom: 1rem;
}

.ninja-forms-field[type="button"] {
    display: block;
    margin: auto;
    padding: 0.75rem 5rem;
    background-color: $pink;
    font-weight: 600;
    color: $light;
}