.layoutHeader {
    position: fixed;
    width: 100%;
    background-color: $light;
    z-index: 200;
    padding: 0.5rem 2rem 1rem;
    border-bottom: 1rem solid $blue;
}

.layoutFooter {
    display: flex;
    justify-content: space-between;
    background-color: darken($light, 1);
    border-top: 1rem solid $grey;
    > * {
        width: 33%;
    }
}

.layoutFooter__pane {
    max-width: 20rem;
    margin: 0 auto;
}

.layoutMain {
    display: flex;

    max-width: ( nth($width, 3) + nth($width, 4) ) / 2;
    margin: auto;
    position: relative;

    padding: $content-padding;

    &.-noThumbnail {
        padding-top: 10rem;
    }
    &.-thumbnail {
        padding-top: 0;
    }
}

.layoutMain__thumbnail {
    width: 100%;
    height: 40rem;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.layoutMain__article {
    flex-grow: 1;
}

.layoutMain__aside {
    padding-right: $content-padding;
    max-width: 16.875rem;
    @for $j from 1 to 5 {
        @media screen and (min-width: nth($width, $j)) {
            p, a, li {
                font-size: general-responsive-font($afb, $j, $aside-responsive-font-factor);
                line-height: general-responsive-font($aflh, $j, $aside-responsive-font-factor);
            }
        }
    }
    .categories {
        @include reset_list();
        ul {
            list-style: none;
        }
    }
    .cat-item {
        padding: 0.5rem 0;
        a {
            text-decoration: none;
        }
    }
}



.page-numbers {
    @include reset_list();
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    li {
        margin: 0 1rem;
    }
}