.m-aside {
    position: relative;
    top: -3rem;
    &.-footer {
        top:0;
    }
    &.-about {
        text-align: center;
        a {
            color: $pink;
            font-weight: 600;
            text-decoration: none;
        }
    }
    &.-current {
        background-color: $light;
        box-shadow: 0 0 4.3px $shadow;
    }
    &__aboutImage {
        width: 50%;
        margin: auto;
        border-radius: 50%;
    }
    &__title {
        text-align: center;
        font-weight: 600;
        &.-current {
            font-weight: 200;
            padding: 1rem;
            strong {
                color: $green;
            }
        }
        &.-currentLink {
            color: $pink;
        }
    }
    &__information {
        text-align: center;
        padding: 1rem 2rem;
        margin: 0;
        &.-lives {
            background-color: $lblue;
        }
    }
}




