.m-postCards {
    @include reset-list();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
    .a-postCard {
        margin: 2rem;
    }
    &.-archive {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &.-side {
        margin-top: 0;
    }
    &.-grid {
        display: grid;
        .a-postCard {
            align-self: start;
            justify-self: center;
            margin: 0;
        }

        @media screen and (min-width: nth($width, 2)) {
            grid-template-columns: repeat(1, 30rem);
            grid-template-rows: repeat(6, 11rem);
            grid-gap: 2.25rem 2rem;
            .a-postCard:first-child {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 1;
                grid-row-end: 4;
            }
            .a-postCard:last-child {
                grid-column-start: 1;
                grid-row-start: 10;
                grid-column-end: 1;
                grid-row-end: 13;
            }
        }

        @media screen and (min-width: nth($width, 3)) {
            grid-template-columns: repeat(2, 30rem);
            grid-template-rows: repeat(6, 11rem);
            grid-gap: 2.25rem 2rem;
            .a-postCard:first-child {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-column-end: 2;
                grid-row-end: 4;
            }
            .a-postCard:last-child {
                grid-column-start: 2;
                grid-row-start: 4;
                grid-column-end: 3;
                grid-row-end: 6;
            }
        }

    }
}