// Basic elements

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $bgrey;
    box-sizing: border-box
}

html, body {
    margin: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

h1 {
    font-family: 'Crushed', cursive;
}

h2, h3, h4, h5, h6, a, strong {
    font-weight: 600;
}

@for $j from 1 to 5 {
    @media screen and (min-width: nth($width, $j)) {
        @for $i from 1 to 7 {
            h#{$i} {
                font-size: responsive-font(nth($fh, $i), $j);
                margin: responsive-font(nth($fh, $i), $j) / 3 0;
            }
        }
        p, a, li {
            font-size: responsive-font($fb, $j);
            line-height: responsive-font($flh, $j);
        }
    }
}