@function general-responsive-font($base, $times, $factor){
    $return: $base;
    @for $i from 1 to $times {
        $return: $return * $factor
    }
    @return $return ;
}

@function responsive-font($base, $times){
    $return: $base;
    @for $i from 1 to $times {
        $return: $return * $responsive-font-factor
    }
    @return $return ;
}

@mixin reset-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin reset-links() {
    a {
        text-decoration: none;
    }
}

%reset_link {
    color: inherit;
    text-decoration: none;
}

%transition {
    transition: all 0.5s ease;
}