// colors

$red:    #ed5D47;
$pink:   #ff5a93;
$blue:   #48d1ec;
$lblue:  #a1eafb;
$green:  #87ce6e;
$orange: #ff8c36;
$grey:   #748180;
$bgrey:  #283d3b;
$dark:   #283D3B;
$light:  #FDFDFD;

$facebook:  #3b5999;
$twitter:   #55acee;
$linkedin:  #0077b5;
$youtube:   #cd201f;
$twitch:    #594091;
$instagram: #e4405f;
$github:    #6cc644;
$codepen:   #fcd000;
$behance:   #191919;

// Shades

$shadow: rgba(40,61,59,0.19);
$lightshadow: rgba(40,61,59,0.1);

// responsive screen sizes

$width: 320px 768px 1366px 1920px;

// fonts

$fh: 3rem 1.875rem 1.5rem 1.25rem 1.125rem 1rem;
$fb: 1rem;
$flh: 1.25rem;
$responsive-font-factor: 1.2;
$afb: 0.9rem;
$aflh: 1.125rem;
$aside-responsive-font-factor: 1.1;

@import url('https://fonts.googleapis.com/css?family=Crushed|Open+Sans:300,600');

// Spaces

$content-padding: 3.125rem;
