.o-menu {
    .menu {
        @include reset-list();
        display: flex;
        @include reset-links();
        li {
            padding: 0 0.5rem;
        }
    }
    &.-footer {
        .menu {
            flex-direction: column;
        }
    }
    &.-primary {
        .menu {
            justify-content: flex-start;
        }
    }
    &.-secondary {
        .menu {
            justify-content: flex-end;
            li a {
                font-size: 1rem;
            }
        }
    }
}