.o-post {
    padding: 1rem;
    margin: auto;
    max-width: 100%;
    ul {
        margin: 2.5rem 0;
        list-style-type: '— ';
        li {
            margin: 0.8rem 0;
        }
    }
    img {
        display: block;
        margin: 2rem auto;
        width: 100%;
        max-width: nth($width, 2);
        height: auto;
    }
    @media screen and (min-width: nth($width, 1)) {
        p {
            line-height: 1.5rem;
        }
    }
    @media screen and (min-width: nth($width, 2)) {
        padding: 2rem 10rem;
        p {
            line-height: 2rem;
        }
    }
    @media screen and (min-width: nth($width, 3)) {
        p {
            line-height: 2.3rem;
        }
    }
}